/* Sesuaikan dengan desain Anda */
body {
    font-family: "Merriweather Sans", serif;
    background-color: #f0f0f0;
}

.form-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
}


h2 {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #1b3446;
}

h3 {
    font-family: 'Merriweather', serif;
    margin-top: 10px;
    color: #20B2AA;
    border-bottom: #005f73 solid 1px;
}

.room-name {
    font-family: 'Merriweather Sans', serif;
    text-align: center;
    color: #005f73;
    font-size: 20px;
    border-bottom: none;
}

.address {
    text-align: center;
    color: #005f73;
}

.left-top,
.left-bottom,
.right-section {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
}

/* left */
.left-top,
.left-bottom {
    border-left: #005f73 solid 8px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.fullname,
.gender,
.email,
.whatsapp,
.address-user {
    margin-top: 15px;
}

.fullname {
    width: 70%;
}

.gender {
    width: 30%;
}

.email,
.whatsapp {
    width: 50%;
}

.address-user {
    text-align: start;
    color: #005f73;
}

.whatsapp {
    /* Gaya untuk keseluruhan elemen WhatsApp */
    margin-bottom: 10px;
}

.input-group {
    position: relative;
    /* Untuk memposisikan elemen anak */
}

.input-group-prepend {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f0f0f0;
    /* Sesuaikan warna latar belakang */
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    padding: 8.5px;
    z-index: 1;
    /* Agar elemen ini berada di atas input */
}

.input-group-text {
    border: none;
    background-color: transparent;
    color: #999;
}

.form-control {
    padding-left: 55px;
    /* Sesuaikan dengan lebar kode negara */
}

/* Gaya untuk dropdown */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24"><path d="M7 10L12 15 17 10"/></svg>');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    padding-right: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #005f73;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Warna garis aktif saat input difokuskan */
input:focus,
select:focus,
textarea:focus {
    border-color: #20B2AA;
    outline: none;
    /* Menghilangkan outline default */
    box-shadow: 0 0 5px rgba(32, 178, 170, 0.5);
}

/* Warna teks dalam input */
input,
select,
textarea {
    color: #1b3446;
}

/* Placeholder tetap terlihat tetapi dengan warna lebih terang */
input::placeholder,
textarea::placeholder {
    color: rgba(27, 52, 70, 0.7);
}

.left-bottom label {
    font-weight: bold;
}
/* left bottom */
.order-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.row {
    display: flex;
    align-items: end;
    margin-bottom: 10px;
}

.price-options,
.facilities {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #4CAF50;
    /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.right-section {
    border-top: #005f73 solid 8px;
    justify-content: space-between;
}

.right-section h3 {
    text-align: center;
    border-bottom: none;
    margin-bottom: 20px;

}

