.body {
    font-family: 'Merriweather Sans', serif;
}

a {
    text-decoration: none;
    color: #333;
}

h4 {
    margin: 0;
}

/* Order Card */
.order-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F4F0;
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    border-top: 10px solid #005f73;
}


.left-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Memastikan elemen memenuhi seluruh lebar */
}

.left-header .brand-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    /* Membuat brand logo menyesuaikan lebar yang tersedia */
}

.left-header .brand-logo img {
    width: 50px;
    height: 50px;
}

.left-header .brand-logo h4 {
    font-family: 'Merriweather', serif;
    white-space: nowrap;
    /* Mencegah pemisahan baris */
    overflow: hidden;
    /* Menghindari overflow */
    text-overflow: ellipsis;
    /* Tambahkan elipsis jika teks terlalu panjang */
    font-size: 20px;
    color: #005f73;
    font-weight: bold;
}

.right-header h4 .order-title {
    font-family: 'Merriweather Sans', serif;
    white-space: nowrap;
    /* Mencegah pemisahan baris */
    overflow: hidden;
    /* Menghindari overflow */
    text-overflow: ellipsis;
    /* Tambahkan elipsis jika teks terlalu panjang */
    font-size: 20px;
    color: #20B2AA;
    font-weight: bold;
}

.order-details {
    display: flex;
}

.left-top,
.left-bottom,
.center,
.right {
    flex: 1;
}
.order-date {
    font-family: "Nunito", Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #20B2AA;
    flex-shrink: 0;
    /* Mencegah elemen ini mengecil */
}

/* Left Section */
.left-section {
    position: relative;
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    /* Garis putus-putus di sisi kanan */
    border-right: 2px dotted #d9d9d9;
}



/* .order-code {
    font-family: 'Merriweather Sans', serif;
    font-size: 20px;
    font-weight: bold;
    color: #805700;
    margin: 10px 0;
} */

.order-details p {
    font-size: 0.9rem;
    margin: 5px 0;
    color: #005f73;
}

.order-details p strong {
    color: #1b3446;
}

/* Order Items */
.order-items {
    margin: 10px 0;
    font-size: 0.9rem;
}

.order-items p {
    display: flex;
    justify-content: space-between;
}

.total {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 20px;
    color: #20B2AA;
    text-align: right;
}

/* Right Section */
.left-top {
    margin-bottom: 16px;
}

.kos-details,
.user-details,
.biaya-details {
    font-size: 14px;
}

.user-details p {
    margin-bottom: 4px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    padding-left: 10px;
    text-align: center;
}

.right-section .queue-number {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #005f73;
}

.right-section img {
    width: 30px;
    height: 30px;
}

.status-icon {
    width: 90px;
    height: auto;
}

.status {
    font-size: 24px;
    color: #20B2AA;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}

.cancel-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 10px;
}

.cancel-button:hover {
    background-color: #c82333;
}