/* Reset default styles */
* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Merriweather Sans', sans-serif;
    color: #1b3446;
    background-color: #ffffff;
    box-sizing: border-box;

}

.container-wrapper {
    display: flex;
    gap: 20px;
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.main-container {
    flex: 3;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px auto;
    /* Menggunakan margin auto untuk membuat elemen di tengah */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
}

.back-button {
    color: #005f73;
    text-decoration: none;
    font-size: 18px;
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    /* Jarak dari atas */
    left: 10px;
    /* Jarak dari kanan */
}

/* Menu */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 20px;
    text-align: center;
    /* Menempatkan teks menu di tengah */
}

.room-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.room-card img {
    width: 100%;
    /* Gambar mengambil lebar penuh kartu */
    height: 200px;
    /* Tetapkan tinggi gambar tetap */
    object-fit: cover;
    /* Gambar akan dipotong untuk mengisi area yang ditentukan tanpa merubah proporsi */
    border-radius: 4px;
    /* Agar gambar memiliki sudut membulat, sesuai dengan border */
}

h2 {
    text-align: center;
    /* Menempatkan teks judul di tengah */
    font-size: 25px;
    /* Ukuran font judul */
    margin-bottom: 20px;
    /* Spasi di bawah judul */
    color: #1b3446;
}

.room-card h3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    margin: 10px 0;
    color: #1b3446;
}

.room-card h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
    color: #20B2AA;
}

.room-card p {
    margin: 5px 0;
    font-size: 12px;
    color: #555;
}

.order-button {
    margin-top: 10px;
    padding: 10px 15px;
    background: #005f73;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s ease;
    text-align: center;
    /* Tombol tetap rata tengah */
    float: right;
}

.order-button:hover {
    background: #003f53;
}

.room-card .price {
    font-weight: bold;
    font-size: large;
    color: #005f73;
}